<!-- todo works! -->

<!-- input -->

<div class="form-group row">

    <div class="col-sm-10 input-group mb-3">
        <input type="text" class="form-control form-control-lg" #itemTitle>
        <div class="input-group-append">
            <span class="input-group-text hover-cursor text-success" id="basic-addon2" (click)="onAdd(itemTitle)">
                <i class="fa fa-plus-circle fa-2x"></i>
            </span>
        </div>
    </div>

</div>

<!-- conteneur list -->

<div class="form-group">
		<div class="col-sm-10 input-group mb-3"  *ngFor="let item of toDoListArray">

						<div class="input-group-prepend">
										<span class="input-group-text hover-cursor" [class.text-success]="item.isChecked"
										(click)="alterCheck(item.$key,item.isChecked)">
								
												<i class="fa fa-lg" [ngClass]="item.isChecked?'fas fa-check-circle':'far fa-circle'"></i>
										</span>
								</div>

								<label class="form-control form-control-lg">
										{{item.title}}
								</label>
								
								<div class="input-group-append">
										<span class="input-group-text text-danger hover-cursor" (click)="onDelete(item.$key)"><i class="fas fa-trash-alt"></i></span>
								</div>

		</div>
</div>
